body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0b1220;
  color: #e9eef3;
}

.navbar {
  background: #0f172a;
  padding: 15px;
  text-align: center;
}

.navbar a {
  margin: 0 15px;
  color: #7fffd4;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background: #10182f;
  padding: 25px;
  border-radius: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 5px;
  border: none;
}

button {
  background: #7fffd4;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #41c7a8;
}
